Options -Indexes
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin: *
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine on

    # Deny access to log files
    RewriteRule ^.*\.log$ - [F,L,NC]
    RewriteRule    ^(.*)enc_watermarked.key$ view/watermarked.key.php?path=$1    [QSA]

    #RedirectMatch 403 ^/folder/.+\.(png|gif|js)$

    RewriteRule    ^index.php$ view/index.php    [NC,L]
    #RewriteRule    ^$ view/    [NC,L]
    RewriteRule    ^isAdmin$ view/isAdmin.php    [NC,L]
    RewriteRule    ^watermark$ view/watermark.php    [NC,L]
    RewriteRule    ^videosListToLive view/videosListToLive.php    [NC,L]
    RewriteRule    ^removeStreamer$ view/removeStreamer.php    [NC,L]
    RewriteRule    ^priority$ view/priority.php    [NC,L]
    RewriteRule    ^status$ view/status.php    [NC,L]
    RewriteRule    ^serverStatus$ view/status.php?serverStatus=1    [NC,L]
    RewriteRule    ^upload$ view/upload.php    [NC,L]
    RewriteRule    ^listFiles.json$ view/listFiles.json.php    [NC,L]
    RewriteRule    ^deleteQueue$ view/deleteQueue.php    [NC,L]
    RewriteRule    ^saveConfig$ view/saveConfig.php    [NC,L]
    RewriteRule    ^youtubeDl.json$ view/youtubeDl.json.php    [NC,L]
    RewriteRule    ^send.json$ view/send.json.php    [NC,L]
    RewriteRule    ^streamers.json$ view/streamers.json.php    [NC,L]
    RewriteRule    ^queue.json$ view/queue.json.php    [NC,L]
    RewriteRule    ^queue$ view/queue.php    [NC,L]
    RewriteRule    ^login$ objects/login.json.php    [NC,L]
    RewriteRule    ^logoff$ objects/logoff.json.php    [NC,L]
    RewriteRule    ^getImage/([A-Za-z0-9=/]+)/([A-Za-z0-9]{3})$ objects/getImage.php?base64Url=$1&format=$2    [NC,L]
    RewriteRule    ^getImageMP4/([A-Za-z0-9=/]+)/([A-Za-z0-9]{3,4})/([0-9.]+)$ objects/getImageMP4.php?base64Url=$1&format=$2&time=$3    [NC,L]
    RewriteRule    ^getSpiritsFromVideo/([A-Za-z0-9%=/]+)/([0-9]+)/([0-9]+)/([0-9:]+)? objects/getSpiritsFromVideo.php?base64Url=$1&tileWidth=$2&totalClips=$3&duration=$4    [NC,L]
    RewriteRule    ^getLinkInfo/([A-Za-z0-9=/]+)$ objects/getLinkInfo.json.php?base64Url=$1    [NC,L]

</IfModule>
<Files avideo.log>
Order Allow,Deny
Deny from all
</Files>
#php_value post_max_size 4G
#php_value upload_max_filesize 4G
#php_value memory_limit 512M