<div id="encodeProgress{id}" class="animate__animated animate__flipInX panel panel-default queue-item">
    <div class="panel-heading queue-item-heading">
        <a href="{site}" class="btn btn-xs btn-default" target="_blank">{site}</a>
        <span class="label label-priority">Priority {priority}</span>
        <span class="label {statusLabelClass}">{statusText}</span>
    </div>
    <div class="progress-group">
        <div class="progress progress-striped active encodingProgress" id="encodingProgress{id}">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">0% Complete</span>
            </div>
            <div class="progress-overlay">
                <span class="progress-type"><strong>{title}</strong></span>
                <span class="progress-completed">{name}</span>
            </div>
        </div>
        <div class="progress progress-striped active downloadProgress" id="downloadProgress{id}">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100" style="width: 0%;"></div>
        </div>
    </div>
</div>
